<style type="text/css">
	#intro{
		text-align: center;
		background-color: rgb(198,140,83);;
	}
	.the-book{
		text-align: center;
	}
	#book-hr{
		border-width: 0.2em;
	}
	.large-1 img{
		min-width: 250px;
	}
</style>
<br><br>
<div class="row">
	<div class="large-6 large-offset-3 columns">
		<div class="callout" id='intro'>
			<p>Find out some more information about the book here. Read up on any available reviews and even add this book to your own bookshelf.</p>
		</div>
	</div>
</div>
<br>
<hr id='book-hr'>
<br>
<div class="row">
	<div class="large-1 columns"></div>
	<div class="large-1 columns">
		<img ng-src="{{book_details.book_details[0].book_image}}">
		<button ng-if="each.shelf === 'off'" class='button primary' ng-click='addBook(each.isbns[0].isbn13,$index)' style='width: 95%;margin-top:1em' title='Add to your Bookshelf'>Add to Bookshelf</button>
		<button ng-if="each.shelf === 'on'" class='button success addButton' ng-click='removeBook(each.isbns[0].isbn13,$index)' style='width: 95%;margin-top:1em' title='Already on your Bookshelf'>&#10004;</button><button ng-if="each.shelf === 'none'" class='button primary disabled addButton' style='width: 95%;margin-top:1em' title='Sign in to add a book to your Bookshelf'>Add to Bookshelf</button>
	</div>scr
	<div class="large-8 columns">
		<table class='stripe' height='500'>
			<tr>
				<th>Title</th>
				<td ng-bind='book_details.book_details[0].title'></td>
			</tr>
			<tr>
				<th>Author</th>
				<td ng-bind='book_details.book_details[0].author'></td>
			</tr>
			<tr>
				<th>Publisher</th>
				<td ng-bind='book_details.book_details[0].publisher'></td>
			</tr>
			<tr>
				<th>Description</th>
				<td ng-bind='book_details.book_details[0].description'></td>
			</tr>
			<tr>
				<th>Book Isbn</th>
				<td ng-bind='book_details.book_details[0].primary_isbn13'></td>
			</tr>
			<tr>
				<th>Review</th>
				<td>
					<p ng-show='no_review === true'>No Reviews Available</p>
					<a ng-hide='no_review === true' ng-href="{{book_details.reviews[0].sunday_review_link}}" target='_blank'>See Review</a>
				</td>
			</tr>
			<tr>
				<th>Buy Online</th>
				<td>&nbsp;&nbsp;&nbsp;&nbsp;<a ng-href='{{book_details.book_details[0].amazon_product_url}}' target='_blank'><img src="https://images-na.ssl-images-amazon.com/images/G/01/associates/remote-buy-box/buy1._V192207739_.gif"></a></td>
			</tr>
			<tr>
				<th>Interested?</th>
				<td ng-if='!currentUser'><a href="#/login">Login</a> to add this book to your bookshelf.</td>
				<td ng-if='currentUser.name && book.is === "yes"'>
					<button class='button success' ng-click='removeBook(book_details.book_details[0].primary_isbn13)' style='width: 30%;margin-top:1em;border-radius: 5px' title='Already on your Bookshelf'>&#10004;</button>
					<h6>This book is already on your bookshelf. Click button to remove.</h6>
				</td>
				<td ng-if='currentUser.name && book.is === "no"'>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<button class='button primary' ng-click='addBook(book_details.book_details[0].primary_isbn13)' style='width: 30%;margin-top:1em;border-radius: 5px' title='Add to your Bookshelf'>Add to Bookshelf</button>
				</td>
			</tr>
		</table>
	</div>
</div>