<style type="text/css">
	.pan{
		height: 550px;
		text-align: center;
		border: groove 0.2em rgb(210,164,121);
		border-radius: 0.5em;
	}
	#home-title{
		text-align: center;
	}
	.pan:hover{
		border: groove 0.25em rgb(191,125,64);
	}
	#home-callout{
		background-color: rgb(198,140,83);
	}
	#left-list, #right-list{
		width: 18rem;
		display: inline-block;
		list-style-type: none;
	}
	#left-list li a:hover, #right-list li a:hover{
		text-decoration: underline;
		color: black;
	}
	#left-list li a, #right-list li a{
		color: rgb(77,77,77);
	}
	.border{
		border: 0.25rem rgb(204, 153, 102) groove;
		margin: 0.25rem rgb(204,153,102) solid;
		display: inline-block;
		padding: 2rem;
	}
	#skip{
		padding: 1rem;
	}
</style>
<br><br><br>
<div class="row" style='margin: 0 auto'>
	<div class="large-10 large-offset-1 columns" id='home-title'>
		<div class="callout" id='home-callout'>
			<strong><h5>Discover thousands of books through the worlds most renowned top book seller's list. Find books you are interested in and add them to your own bookshelf.</h5></strong>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="large-10 large-offset-1 columns">
		<div class="pan">
			<br>
			<div class="row">
				<h4>New York Times Best Seller's List</h4>
				<p>Explore the many books that the New York Best Seller's List has to offer.</p>
				<a class='button success' href='#/search'>Go to Book Search &rarr;</a>
				<br>
				<h5 id='skip'>Or skip straight to the past week's best sellers list here.</h5>
			</div>
			<div class="row">
				<div class="border">
					<ul id='left-list'>
						<li><a ng-href="#/search?i=y&date={{date}}&list=combined-print-and-e-book-fiction">Combined Print & E-Book Fiction</a></li>
						<li><a ng-href="#/search?i=y&date={{date}}&list=hardcover-nonfiction">Hardcover Nonfiction</a></li>
						<li><a ng-href="#/search?i=y&date={{date}}&list=paperback-nonfiction">Paperback Nonfiction</a></li>
						<li><a ng-href="#/search?i=y&date={{date}}&list=education">Education</a></li>
						<li><a ng-href="#/search?i=y&date={{date}}&list=science">Science</a></li>
						<li><a ng-href="#/search?i=y&date={{date}}&list=business">Business</a></li>
						<li><a ng-href="#/search?i=y&date={{date}}&list=religion-spirituality-and-faith">Religion, Spirituality and Faith</a></li>
					</ul>
					<ul id='right-list'>
						<li><a ng-href="#/search?i=y&date={{date}}&list=combined-print-and-e-book-nonfiction">Combined Print & E-Book Nonfiction</a></li>
						<li><a ng-href="#/search?i=y&date={{date}}&list=hardcover-fiction">Hardcover Fiction</a></li>
						<li><a ng-href="#/search?i=y&date={{date}}&list=culture">Culture</a></li>
						<li><a ng-href="#/search?i=y&date={{date}}&list=politics">Politics</a></li>
						<li><a ng-href="#/search?i=y&date={{date}}&list=series">Children's Series</a></li>
						<li><a ng-href="#/search?i=y&date={{date}}&list=health">Health</a></li>
						<li><a ng-href="#/search?i=y&date={{date}}&list=travel">Travel</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="large-1 columns"></div>
</div>

