<style type="text/css">
	.pan{
		height: 400px;
		text-align: center;
		border: groove 0.3em rgb(210,164,121);
		border-radius: 0.5em;
	}
	#home-title{
		text-align: center;
	}
	div.pan:hover{
		border: groove 0.35em rgb(191,125,64);
	}
	.callout{
		background-color: rgb(198,140,83);
	}
	.box{
		border: groove 0.1em rgb(210,164,121);
		border-radius: 0.5em;
		height: 10em;
		width: 10em;
		display: inline-block;
		margin: 1em;
	}
	.box:hover{
		border: groove 0.2em rgb(191,125,64);
	}
</style>
<br><br><br>
<div class="row">
	<div class="large-8 large-offset-2 columns" id='home-title'>
		<div class="callout">
			<strong><h4>Discover thousands of books through two of the worlds most renowned top book seller's list. Find books you are interested in and add them to your own bookshelf.</h4></strong>
		</div>
	</div>
</div>
<br><br><br>
<div class="row">
	<div class="large-10 large-offset-1 columns">
		<div class="pan">
			<br>
			<div class="row">
				<h4>New York Times Best Seller's List</h4>
				<p>Explore the many books that the New York Best Seller's List has to offer.</p>
			</div>
			<br>
			<div class="row">
				
				<div class="large-10 large-offset-1 columns">
					<div class="box">
						Search By Best Seller's Week
					</div>
					<div class="box">
						Search By Best Seller's Category
					</div>
					<div class="box">
						Search By Best Seller's Author
					</div>
					<div class="box">
						Search By Best Seller's Title
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

