<style type="text/css">
	
</style>

<div class="large-10 large-offset-1 columns">
	<div class="large-8 columns">
		<br><br>
		<h3 style='text-align: center'>User Login</h3>
		<br><br>
		<form>
			<label>Username
				<input type='text' placeholder='Username' ng-model='loginUser.username'>
			</label>
			<label>Password
				<input type='password' placeholder='Password' ng-model='loginUser.password'>
			</label>
			<br>
			<button class='button success' style='width: 10rem' ng-click='login()'>Login</button>
		</form>
	</div>
	
</div>